<%= render "shared/header" %>

<%# 商品の概要 %>
<div class="item-show">
  <div class="item-box">
    <h2 class="name">
      <%= @item.name %>
    </h2>

    <%# 投稿されてる画像の表示 %>
    <div class='item-img-content'>
   
    <% @item.images.each do |image|%>
      <%= image_tag image.variant(resize: "400x400") ,class:"item-box-img"%>
      <% end %>
      
     
        <% if @item.order != nil %>
      <div class='sold-out'>
        <span>Sold Out!!</span>
      </div>
      <%end%>
  
    </div>
    <div class="item-price-box">
      <span class="item-price">
       <%= @item.price %>円<br>
      </span>
      <span class="item-postage">
        (税込) 送料込み
      </span>
    </div>

  <% if user_signed_in? && current_user.id == @item.user_id %>
    <%= link_to '商品の編集',edit_item_path(@item.id), method: :get, class: "item-red-btn" %>
    <p class='or-text'>or</p>
    <%= link_to '削除',item_path(@item.id) , method: :delete, class:'item-destroy' %>

    
    <%elsif  @item.order == nil %>

      <%= link_to '購入画面に進む',   item_deliver_addresses_path(@item.id) ,class:"item-red-btn"%>
  <%end %>
  

  

    <div class="item-explain-box">
      <span><%= @item.text %></span>
    </div>
    <table class="detail-table">
      <tbody>
        <tr>
          <th class="detail-item">出品者</th>
          <td class="detail-value"><%= @item.user.nickname %></td>
        </tr>
        <tr>
          <th class="detail-item">カテゴリー</th>
          <td class="detail-value"><%= @item.category.name %></td>
        </tr>
        <tr>
          <th class="detail-item">商品の状態</th>
          <td class="detail-value"><%= @item.sales_status.name %></td>
        </tr>
        <tr>
          <th class="detail-item">配送料の負担</th>
          <td class="detail-value"><%= @item.shipping_fee_status.name %></td>
        </tr>
        <tr>
          <th class="detail-item">発送元の地域</th>
          <td class="detail-value"><%= @item.prefecture.name %></td>
        </tr>
        <tr>
          <th class="detail-item">発送日の目安</th>
          <td class="detail-value"><%= @item.scheduled_delivery.name %></td>
        </tr>
      </tbody>
    </table>


    <div class="option">
        <div class="favorite-btn">
     <% if user_signed_in? && Like.find_by(user_id: current_user.id, item_id: @item.id) %>
     <div class="count">
       <%= @likes_count %>
       </div>
        <%= link_to "いいね！済み",item_like_path(@item), method: :delete %>
        <i class="fas fa-star yellow"></i>
      <% else %>
      <div class="count">
       <%= @likes_count %>
       </div>
       <%= link_to "いいね！",item_likes_path(@item), method: :post %>
       <i class="far fa-star yellow"></i>
    <%end%>
    </div>
  </div>


  <%# /商品の概要 %>

  <div class="comment-box">
  
     <%= form_with(model: [@item, @comment], local: true) do |f| %>
      <%= f.text_area :text,class:'comment-text' %>
      <p class="comment-warn">
        相手のことを考え丁寧なコメントを心がけましょう。
        <br>
        不快な言葉遣いなどは利用制限や退会処分となることがあります。
      </p>
      <%= f.submit 'コメントする',class:'comment-btn' %> 
    <%end%>
    </div>

    <div>
      <h4 class="comment-list">コメント一覧</h4>
      <% if @comments %>
        <% @comments.reverse_each do |comment| %>
          <p class="user-comment">
          <div class="time">
          <%=l comment.created_at%>
          </div>
            <strong><%= link_to comment.user.nickname, "/users/#{comment.user_id}" %>：</strong>
            <%= comment.text %>
          </p>
        <% end %>
      <% end %>
      </div>
        






  <div class="links">
    <a href="#" class="change-item-btn">
      ＜ 前の商品
    </a>
    <a href="#" class="change-item-btn">
      後ろの商品 ＞
    </a>
  </div>
  <a href="#" class='another-item'><%= "商品のカテゴリー名" %>をもっと見る</a>
</div>

<%= render "shared/footer" %>